.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.borderCircle {
    border-radius: 9999px;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 0 0 1.25rem;
}

.lightText {
    color: #666;
}

.dialogTag {
    /* デフォルトが inset: 0; なので top: auto; にして下側に配置する */
    top: auto;

    /* デフォルトで最大幅が設定されていて width: 100% にならないので解除 */
    max-width: none;

    /* デフォルトで fit-content になっていて中身の幅になってしまうので解除 */
    width: auto;

    overflow: visible;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}